<div>
    <!-- Filtering Section -->
    <div class="flex justify-between items-center mb-4 max-w-md mx-auto">
        <div class="flex">
            <button (click)="updateTap('my-cards')" [ngClass]="currentTab === 'my-cards' ? 'active-button' : 'inactive-button'" class="mr-3">My Cards</button>
            <button (click)="updateTap('public-cards')" [ngClass]="currentTab === 'public-cards' ? 'active-button' : 'inactive-button'">Public Cards</button>
        </div>
    </div>
    <!-- End Filtering Section -->
    <div class="mx-auto w-full max-w-md">
        <app-card-container (click)="cardClickedHandler('1')"></app-card-container>
    </div>
</div>