/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-color-primary{
    @apply bg-indigo-600;
}

.bg-color-secondary {
    @apply bg-orange-500;
}

.button {
    @apply p-2 rounded font-semibold;
}

.active-button {
    @apply bg-orange-500 text-white button;
}

.inactive-button {
    @apply bg-gray-300 button;
}