<div class="w-full max-w-md">
    <p class="font-semibold text-3xl">Math Formula</p>
    <p class="text-lg my-2">Remembered 20/30</p>
    <div class="flex items-center justify-between">
        <p class="text-lg bg-gray-200 inline-block p-1 px-2 rounded-md">Jedsada N.</p>
        <p class="font-semibold">Edit</p>
    </div>
    <div class="list-container mt-4">
        <div class="remembered-item">
            <p class="remembered-text text-2xl">Word</p>
            <p class="remembered-text">Definition</p>
        </div>
        <div class="remembered-item">
            <p class="remembered-text text-2xl">Word</p>
            <p class="remembered-text">Definition</p>
        </div>
        <div class="unremembered-item">
            <p class="unremembered-text text-2xl">Word</p>
            <p class="unremembered-text">Definition</p>
        </div>
        <div class="remembered-item">
            <p class="remembered-text text-2xl">Word</p>
            <p class="remembered-text">Definition</p>
        </div>
    </div>
</div>