<div class="w-full max-w-md">
    <app-go-back-button></app-go-back-button>
    <p class="font-semibold text-3xl">Math Formula</p>
    <p class="text-lg my-2">Remembered {{ rememberedCount }}/{{ cardSet.cards.length }}</p>
    <div class="flex items-center justify-between">
        <p class="text-lg bg-gray-200 inline-block p-1 px-2 rounded-md">Jedsada N.</p>
        <a routerLink="/edit/1" class="font-semibold">Edit</a>
    </div>
    <div class="list-container mt-4">
        <ng-container *ngFor="let card of cardSet.cards">
            <div [ngClass]="{ 'remembered-item': card.remembered, 'unremembered-item': !card.remembered }">
                <p class="text-xl" [ngClass]="{ 'remembered-text': card.remembered, 'unremembered-text': !card.remembered }">{{ card.word }}</p>
                <p class="text-sm" [ngClass]="{ 'remembered-text': card.remembered, 'unremembered-text': !card.remembered }">{{ card.definition }}</p>
            </div>
        </ng-container>
    </div>
</div>